
*{ margin:0; padding:0;} a{ text-decoration:none !important; outline:none;} img{ border:none; outline:none;} input, textarea, select{ border:none; outline:none; background:none;} ol, ul{ margin:0 0; list-style:none; padding-left:0;} h1, h2, h3, h4, h5, h6{ margin:0 0; font-weight:normal;} .no-padding{ padding-left:0 !important; padding-right:0 !important;} .no-left-padding{ padding-left:0 !important;} .no-right-padding{ padding-right:0 !important;}

body{ float:left; width:100%; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#333; position:relative; padding-bottom:25px !important; height:auto !important;}

.row{ max-width:1500px !important; width:100%;}
.row .row{ max-width:75rem;}



.header{ width:100%; float:left; padding:15px; }
.header h1{ width:100%; float:left; text-align:center; font-size:30px; color:#000; font-family:Arial, Helvetica, sans-serif; }
.header .large-8{ float:left; }
.header 	.large-4{ float:left; }

.left-part{ width:100%; float:left; padding:0 10px; }
.left-part .top-part{ width:100%; float:left; padding-left:30px; font-size:34px; line-height:35px; vertical-align:middle; }
.left-part .top-part select{ width:100px; display:inline-block; line-height:35px; margin-left:10px; margin-right:10px; }
.left-part .top-part label{  display:inline-block; line-height:35px; }
.left-part .top-part .left-image{  display:inline-block; border:1px solid rgb(202, 202, 202); padding: 9px 0; }
.left-part .top-part .seprator{ display:inline-block; vertical-align:middle; }

.left-part table{ border:2px solid #000; }
.left-part th{ background:#cccccc;   border-left:2px solid #000; }
.left-part td{ border-left:2px solid #000; color:#000; vertical-align:middle; }
.left-part .change-amount{ float:right; }
.left-part .balance-low{ color:#ff0000; float:right; }
.left-part .left-total{ float:left; }
.left-part tr:nth-child(2){ background:#bdd1ec; }
.left-part tr:nth-child(3){ background:#cadef9; }
.left-part tr:nth-child(4){ background:#bdd1ec; }
.left-part .change-amount a{ text-decoration:underline; }
.left-part tr.line td{ text-decoration:line-through; }


.bottom-area{ width:100%; float:left; }
.convert-area{ width:100%;  float:right; text-align:right; }
.convert-area .left{ width:100%; max-width:485px; display:inline-block; }
.convert-area .right{ float:right; margin-right: -261px; }
.convert-area label{ display:inline-block; line-height:35px; text-align:left;  }
.convert-area  select{ width:150px; display:inline-block; line-height:35px; margin-left:10px; margin-right:20px; }
.convert-area  input[type=submit]{ display:block; width:150px; margin:0 auto; background:#cf2a27; padding:8px 35px; color:#000; font-size:18px; border:2px solid #000; }

.right-part{ width:100%; float:left;  padding:0 10px; margin-top:-8px; }
.right-part .top{ width:100%; float:left; text-align:center; }
.right-part .top h2{ font-size:15px; text-align:center; font-weight:normal; color:#000; }
.right-part .top label{ display:inline-block; line-height:35px; text-align:left; text-transform:none; line-height:24px;  }
.right-part .on-area{ width:50px; display:inline-block; height:24px; background:#e2e2e2; border:1px solid #000; margin:0 15px; vertical-align:middle; }
.right-part .on-area .left-circle{ height: 30px;  margin: -5px 0 0 -10px; border:1px solid #000; width: 30px; float:left; background:#fff; border-radius:50%; }
.right-part .bottom{ width:100%; float:left; border:2px solid #000; margin-top:17px; padding-left:5px; }
.right-part .bottom p{ background:#fff; width:100%; font-size:14px; line-height:14px; color:#000; margin:-8px 0 0 0; float:left; }
.right-part .checkbox-ul{ width:100%; float:left; padding:20px 0 0 0; margin:0; height:183px; overflow:auto; }
.right-part .checkbox-ul li{ width:100%; float:left; list-style:none; line-height:12px; font-size:12px; }
.right-part .checkbox-ul li input[type=checkbox]{ float:left; margin-right:8px; }
.right-part .checkbox-ul li a{ color:#1165af; text-decoration:underline; margin:0 15px; font-style:italic; }
.right-part ul.combine-list{ float:left; width:100%; text-align:center;}
.right-part ul.combine-list li{ float:none; display:inline-block;}
.right-part ul.combine-list li .switch{ margin-bottom:0;}
.right-part ul.combine-list li .switch input{ opacity:0;}
.right-part ul.combine-list li > label{ float:left;}





.tab-box{ float:left; width:100%; padding:25px 0;}
.tab-box .tabs.vertical { border: medium none; padding-top:100px;}
.tab-box .tabs.vertical li{ border:1px solid #333; position:relative; margin-right:-1px;}
.tab-box .tabs.vertical li a{ background:#e6e6e6; color: #000; font-size: 14px; line-height: 20px;}
.tab-box .tabs.vertical li.is-active{ border-right:none;}
.tab-box .tabs.vertical li.is-active a{ background:#fff;}
.tab-box .tabs.vertical li + li{ margin-top:5px;}
.tabs-content{ padding:15px 0; border:1px solid #333 !important; min-height:800px;}
.tabs-content .tabs-panel .left-box .innr-box{ background:#B6D7A8;}
.tabs-content .tabs-panel .right-box .innr-box{ background:#EA9999;}
.tabs-content .tabs-panel .innr-box { float:left; width:100%; border: 1px solid #000; padding:15px; min-height:415px;}
.tabs-content .tabs-panel .innr-box h4{ float: left; font-size: 20px; margin-left: 0; margin-top: -30px; padding: 0 8px; position:relative; z-index:999;}
.tabs-content .tabs-panel .innr-box h5{ float:left; width:100%; font-size:14px; position:relative; z-index:999;}
.tabs-content .tabs-panel .left-box .innr-box h4:before{ position:absolute; top:50%; left:0; background:#B6D7A8; height:100%; content:''; width:100%; z-index:-1}
.tabs-content .tabs-panel .right-box .innr-box h4:before{ position:absolute; top:50%; left:0; background:#EA9999; height:100%; content:''; width:100%; z-index:-1}
.tab-box .tabs-content form{ float:left; width:100%;}
.tab-box .tabs-content form ul.form-list{ float:left; width:100%; list-style:none;}
.tab-box .tabs-content form ul.form-list li{ float:left; width:100%;}
.tab-box .tabs-content form ul.form-list li .input-group input{ margin-bottom:0; border:1px solid #333; height:2.4375rem; background:#fff;}
.tab-box .tabs-content form ul.form-list li .input-group span{ border:1px solid #333; border-left:none;}
.tab-box .tabs-content form ul.form-list li .input-group select{ margin-bottom:0; border:1px solid #333;}
.tab-box .tabs-content form ul.form-list li label{ float:left; width:30%; text-align:right; font-size:14px; color:#000; font-weight:normal; text-transform:none; padding-top:10px;}
.tab-box .tabs-content form ul.form-list li .input-group{ float:right; width:65%;}
.tab-box .tabs-content form ul.form-list li select.small{ float:left; width:30%; margin-left:5%;}
.tab-box .tabs-content form ul.form-list li .input-group.small{ float:left; width:30%; margin-left:5%;}
.tab-box .tabs-content form ul.form-list li span.buy-btn{ float:left; width:30%; margin-left:5%;}
.tab-box .tabs-content form ul.form-list li span.buy-btn a{ float:left; width:100%; text-align:center; background:#FF9900; height:2.4375rem; line-height:2.4375rem; color:#fff; border:1px solid #333;}



.tabs-content .tabs-panel .innr-box-01 { float:left; width:100%; border: 1px solid #000; padding:15px; margin-top:40px;}
.tabs-content .tabs-panel .innr-box-01 h4{ float: left; font-size: 20px; margin-left: 0; background:#fff; margin-top: -30px; padding: 0 8px; position:relative; z-index:999;}
.tabs-content .tabs-panel .innr-box-01 table{ max-height:200px; overflow:auto;}
.tabs-content .tabs-panel .innr-box-01 table thead, .tabs-content .tabs-panel .innr-box-01 table tbody, .tabs-content .tabs-panel .innr-box-01 table tfoot{ border:1px solid #333;}
.tabs-content .tabs-panel .innr-box-01 th{ font-size:14px; color:#000;}
.tabs-content .tabs-panel .innr-box-01 th + th{ border-left:1px solid #333;}
.tabs-content .tabs-panel .innr-box-01 td{ font-size:14px; color:#000;}
.tabs-content .tabs-panel .innr-box-01 td + td{ border-left:1px solid #333;}



.footer{ width:100%; float:left; border:2px solid #000; padding:0 20px;}
.footer h4{ float:left; background:#fff; padding:0 8px; font-size:20px; margin-top:-15px; margin-left:10px; }

.footer .menu{ width:100%; float:left; margin:0; padding:0; }
.footer .menu li{  float:left; margin:0; padding:0; width:20%; }
.footer .menu li a{  float:left; color:#000; margin:0; line-height:50px; padding:0; font-size:20px; }

.footer .menu li a:hover{ color:#1165af; }


@media( max-width:900px ){
	.convert-area .left{ max-width:100%; }
	.convert-area .right{ max-width:100%; margin-right:0; margin-top:30px; }
	.convert-area select{ width:110px; font-size:12px; }
	
	
}


@media( max-width:767px ){
	
.left-part .top-part label{ width:100%; float:left; text-align:center; } 	
.left-part .top-part{ padding-left:0px; text-align:center; }
.right-part{ padding-top:50px; }

.footer .menu li{ width:100%; float:left; padding:0 10px; }
	.footer .menu li+li{ border-top:1px solid #000; }
}

@media( max-width:480px ){
	.convert-area select{ width:100%; margin:5px 0 8px 0; font-size:12px; }
	.convert-area .right{ width:100%; }
	.convert-area label{ width:100%; text-align:left; }
	.left-part .top-part select{ width:80px; }
	
}



