*{
	margin: 0;
	padding: 0;

}

body{
	background: #fffffa;
	display: flex;
	flex-direction: column;
}

.content{
	max-width: 75%;
}


header{
	position: relative;
	display: flex;
}

header h1{
float: left;
}


.select-option{
	position: relative;
	display: flex;
	justify-content: center;
}


.dropdown{
	display: flex;
	justify-content: center;
}

table {
    border-collapse: collapse;
}

table td{
	height: 40px !important;
}

table, td, th {
    border: 1px solid black;
    word-wrap: break-word;
}


table th input[type='button']{
	margin-left: 60px;
	min-height: 20px;
	min-width: 30px;
}

table td input[type='button']{
	margin-left: 10px;
	min-width: 30px;
	min-height: 30px;
}

table td input[type='number']{
	min-width: 150px;
}
.transaction-col{
	min-width: 300px;
}
.no-border{
	border: 0px;
	border-collapse: collapse;
	border-width: 0px;
	border:hidden;
	border-right: groove;
}

.thick-border{
	border:groove !important;
	height: 70px !important;
	word-wrap: normal;
}

caption{
	font-weight: 500;
	font-size: 24px;
	color: #444;
}


@media screen and (max-width: 480px) {
    .content{
	max-width: 100% !important;
}
	th:last-child{
		display: inline-flex;
		background: transparent;
	}

	td:last-child{
		display: inline-flex;
		background: transparent;
	}

}

@media screen and (max-width: 720px) {
    .content{
	max-width: 100% !important;
}
	th:last-child{
		display: inline-flex;
		background: transparent;
	}

	td:last-child{
		display: inline-flex;
		background: transparent;
	}

}

.table-responsive{
	overflow-x: visible;
	overflow-y: visible scroll;
}

@media screen and (max-width: 990px) {
    .content{
	max-width: 100% !important;
}
	th:last-child{
		display: inline-flex;
		background: transparent;
	}

	td:last-child{
		display: inline-flex;
		background: transparent;
	}

}

@media screen and (max-width: 1220px) {
    .content{
	max-width: 100% !important;
}
	th:last-child{
		display: inline-flex;
		background: transparent;
	}

	td:last-child{
		display: inline-flex;
		background: transparent;
	}

}


.destination{
	display: flex;
	justify-content: center;

}

.dest-addrs{
	clear: both;
	margin-left: 100px;
	margin-top: 30px;
	
	
}

.dest-addrs span{
	font-size: 16px;
}

.dest-addrs input[type='text']{
	margin-left: 20px;
	width: 400px;

}

@media screen and (max-width: 480px) {

	.dest-addrs{
	clear: both;
	margin-left: 10px;
	margin-top: 30px;
}
	.dest-addrs span{
	font-size: 18px;
	max-width: 0px;
	clear: both;
	position: relative;
	margin-left: 0px;
}

.dest-addrs input[type='text']{
	margin-left: 10px;
	width: 200px;
	position: relative;
}

.dest-addrs span{
	
font-size: 10px;
}

}

#sendbtn{
	width: 60px;
	height: 35px;
	background-color: #127715;
	font-size: 20px;
	color: #eee;
	margin-bottom: 30px;
}
.center{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}